* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111;
    overflow-x: hidden;
}

.typing-container {

    min-height: 100vh;
    width: 100%;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5em;
    color: #fff;
    letter-spacing: 0.1em;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    color: 2px;
    animation: blink 0.6s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}